[flake8]
; exclude = */__init__.py,migrations/*
; ignore = E111, E114, E121, E131, W503, F405, F403, E126, E501, E711, F841
max-line-length = 99
max-doc-length = 99
show-source = true
indent-size = 2
