venv
.envrc
.envrc.*
!.envrc.template
*.pyc
pages
database/*
tmp/*
!tmp/.gitkeep
project.zip
.json/*
.DS_Store
.prompt.txt
.prompt.*.txt
*.pem
output/*
!output/.gitkeep
.telegram*
user_info.*
panto_dashboard
panto_ast
